<div class = "restaurant-tile">
  <h3> <% restaurant.name %> </h3> </br>
   <% if restaurant.is_open? %> OPEN <% else %>  <%= restaurant.will_be_open %> <% end %> || <%= restaurant.waittimes.last.estimated_waittime %>
  <%= restaurant.operating_hours %> <%= restaurant.address %> || <a href="<%= restaurant.phone %>"><%= restaurant.phone %></a>
</div>
