<div class = "restaurant-tile">
  <h3> <% restaurant.name %> </h3>
  <br>
  <p><%= restaurant.address %></p>
  <p><a href="tel:<%= phone_parser(restaurant.phone) %>"><%= restaurant.phone %></a></p> </br>
  <%= restaurant.map_link.html_safe %>
</br>
  <% @hours = hours_show(restaurant.operating_hours) %>
  <% @hours[:hours].each_with_index do |operating, index| %>
  <li><strong><%= @hours[:days][index] %></strong><%= operating %><li> </br>
   <% end %>
</div>
