<div class="content-wrapper">
  <div class="waitlist-header">
    <h1>Waitlist</h1>
    <div class="add-party">
      <%= form_for :waittime, url: waittimes_path, html: {id: "add-party-form"} do |f| %>
        <div class="errors">
        </div>
        <%= f.text_field :customer, id:"name", placeholder:"Name" %>
        <%= f.number_field :party_size, id:"party_size", placeholder:"Party Size" %>
        <%= f.telephone_field :phone, id:"phone_number", placeholder:"Phone Number" %>
        <%= f.submit "Add to Waitlist" %>
      <% end %>
      <button id="add-party-button">Add Party</button>
    </div>
    <div class="admin-dashboard">
      <a href="/admins/dashboard"><%= current_admin.email %></a>
    </div>
    <div class="unlock">
      <input class="pin-input" type="text">
      <button class="pin-btn">Submit Pin</button>
      <button class="unlock-screen-btn">Unlock Screen</button>
      <button class="lock-screen-btn">Lock Screen</button>
      <div class="lock-status"></div>
    </div>
  </div>



  <div class="container">
    <ul class="waitlist">
      <li id="waittime-1" class="waittime-item">
        <div>
          <pre> 1 | </pre>
          <span>Party Name</span>
        </div>
        <div>
          <span>XX minutes</span>
        </div>
        <div>
          <%# Trigger an SMS message.%>
          <button value='1234567' class="table-ready-btn">Table Almost Ready!</button>
          <%# Update Waittime object. Remove waittime-item from list. %>
          <form class="waittime-seat-form" action="/waittimes/1">
            <button class="seat-party-btn" type="submit">Seat this Party</button>
          </form>
        </div>
      </li>

</div>

