<div class="content-wrapper">

  <%= render partial: 'admin_dashboard' %>
  <%= render partial: 'unlock' %>

  <div class="waitlist-header">
    <h1 id="restaurant-name-header" data-id="<%= @restaurant.id %>"><%= @restaurant.name %> Waitlist</h1>
  </div>

  <ul class="waitlist">
    <li class="waittime-headers">
      <span class="waittime-customer"> Customer</span>
      <span class="waittime-party-size">Party Size</span>
      <div class="waittime-bookend">Estimated Wait Time</div>
    </li>
    <% @waittimes.each do |waittime| %>
      <%= render partial: 'waittimes/create_w_db', layout: false, locals: { waittime: waittime } %>
    <% end %>
  </ul>

  <div class="add-party">
    <button id="add-party-button">Add Your Party</button>
    <div id="current-wait-text">Current Wait:
      <span class="current-estimated-wait"> <%= @restaurant.current_estimated_wait %> min</span>
    </div>
  </div>

  <div class="form-container">
    <button id="cancel-party-button"><i class="fa fa-times" aria-hidden="true"></i></button>
    <%= form_for :waittime, url: waittimes_path, html: {id: "add-party-form"} do |f| %>
      <div>
        <%= f.text_field :customer, id:"name", placeholder:"Name" %>
        <%= f.number_field :party_size, id:"party_size", placeholder:"Party Size" %>
      </div>
      <div>
        <%= f.telephone_field :phone, id:"phone_number", placeholder:"Phone Number" %>
        <%= f.submit "Add to Waitlist", id: "add-to-waitlist", disabled: true %>
      </div>
      <ul class="errors"></ul>
    <% end %>
  </div>

</div>



