<li class="waittime-item" id='waittime-<%= waittime.id %>'>
  <span class="waittime-customer"><%= waittime.customer %></span>
  <span class="waittime-party-size"><%= waittime.party_size %></span>
  <div class="status">
    <div class="customer-visible">
      <% if !waittime.table_ready %>
        <span class="waittime">XX minutes</span>
      <% else %>
        <span class="ready">Table ready!</span>
      <% end %>
    </div>
    <div class="employee-visible">
      <% if !waittime.table_ready %>
        <form class="alert-party" action='/waittimes/<%= waittime.id %>'>
          <button class='almost-ready' type="submit">Alert this Party</button>
        </form>
      <% else %>
        <form class='seat-party' action='/waittimes/<%= waittime.id %>'>
          <button class="seat-party-btn" type='submit'>Seat this Party</button>
        </form>
      <% end %>
    </div>
  </div>
</li>
