<li class="waittime-item" id='waittime-<%= waittime.id %>'>
  <span class="waittime-customer"><%= waittime.customer %></span>
  <span class="waittime-party-size"><%= waittime.party_size %></span>
  <div class="status">
    <div class="customer-visible">
      <span class="waittime"><%= waittime.estimated_waittime %></span>
      <span class="ready">Table ready!</span>
    </div>
    <div class="employee-visible">
      <button class='almost-ready' type="submit">Alert this Party</button>
      <form class='seat-party' action='/waittimes/<%= waittime.id %>'>
        <button class="seat-party-btn" type='submit'>Seat this Party</button>
      </form>
    </div>
  </div>
</li>
