<li class="waittime-item" id='waittime-<%= waittime.id %>'>
  <span class="waittime-customer"><%= waittime.customer %></span>
  <span class="waittime-party-size"><%= waittime.party_size %></span>
  <div class="status">
    <div class="customer-visible">
      <p style="display:inline; margin: 0; padding: 0;"></p>
      <span class="waittime"><%= waittime.estimated_waittime %> minutes</span>
      <span class="ready">Table ready!</span>
    </div>
    <div class="employee-visible">
      <p style="display:inline; margin: 0; padding: 0;"></p>
      <button class="almost-ready">Alert this Party</button>
      <button class='almost-ready-confirm' type="submit">Are you Sure?</button>
      <form class='seat-party' action='/waittimes/<%= waittime.id %>'>
        <button class="seat-party-confirm" type='submit'>Are you Sure?</button>
      </form>
      <button class="seat-party-btn">Seat this Party</button>
    </div>
  </div>
</li>
