<!DOCTYPE html>
<html>
<head>
  <title>Ramen Ho!</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:400,600" rel="stylesheet">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <div class="page-wrapper flex-column">

  <%= yield %>

  </div>

</body>
</html>
